<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title">Авторизация</div>
        </div>
        <form class="pc-form" method="post" th:action="@{/login}">
            <label>Логин<input type="text" name="username" placeholder="Введите логин..." maxlength="25" required autofocus/></label>
            <label>Пароль<input type="password" name="password" placeholder="Введите пароль..." maxlength="50" required/></label>
            <label class="pc-form-info" th:text="${param.logout} ? 'Вы вышли из аккаунта' : (${param.error} ? 'Ошибка авторизации' : ' ')"></label>
            <button class="btn btn-form" type="submit">Войти</button>
            <a href="/registration">Регистрация</a>
            <a href="/restore">Забыли пароль?</a>
        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>