<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title">Регистрация</div>
        </div>

        <form class="pc-form" action="/post/auth/registration" method="post">
            <label>Имя<input type="text" name="name" placeholder="Введите имя..." required/></label>
            <label>Почта<input type="email" name="email" placeholder="Введите почту..." required/></label>
            <label>Логин<input type="text" name="username" placeholder="Введите логин..." required/></label>
            <label>Пароль<input type="password" name="password" placeholder="Введите пароль..." required/></label>
            <label>Повторите пароль<input type="password" name="password2" placeholder="Введите пароль..." required/></label>
            <label class="pc-form-info"></label>
            <button class="btn pc-form-submit" type="submit">Зарегистрироваться</button>
            <a href="/login">Авторизация</a>
        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>