<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Spring - New User</title>
</head>
<body>
    <h1>Введите данные нового пользователя</h1>
    <form action="/users/new" method="post">
        <input type="text" name="name" placeholder="Имя"><br>
        <input type="number" name="age" placeholder="Возраст"><br>
        <input type="text" name="email" placeholder="E-mail"><br>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>