<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title"><i class="fas fa-user-tie"></i> Администратор - Все команды</div>
            <form class="search-form" action="/post/admin/search" method="post">
                <input type="text" name="text" placeholder="Поиск..." maxlength="25" required>
                <button class="btn btn-form" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <table>
            <thead><tr><th>ID</th><th>Название</th><th>Доступность</th><th>Создатель</th><th>Действия</th></tr></thead>
            <tbody>
            <tr th:each="team : ${teams}">
                <td th:text="${team.getId()}"></td>
                <td th:text="${team.getName()}"></td>
                <td th:text="${team.isPrivate() ? 'Приватная' : 'Публичная'}"></td>
                <td th:text="${team.getUser().getName() + ' (' + team.getUser().getId() + ')'}"></td>
                <td><a class="btn-link-y" th:href="${'/team/' + team.getId() + '/delete/true'}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>