<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title"><i class="fas fa-user-tie"></i> Администратор - Пользователи[(${headerTitle})]</div>
            <form class="search-form" action="/admin" method="get">
                <input type="text" name="search" placeholder="Поиск..." maxlength="25">
                <button class="btn btn-form" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <table>
            <thead><tr><th>ID</th><th>Логин</th><th>Имя</th><th>Почта</th><th>Состояние</th><th>Роль</th><th>Действия</th></tr></thead>
            <tbody>
                <tr th:each="u : ${users}">
                    <td th:text="${u.getId()}"></td>
                    <td th:text="${u.getUsername()}"></td>
                    <td th:text="${u.getName()}"></td>
                    <td th:text="${u.getEmail()}"></td>
                    <td th:text="${u.isActive() ? 'Активный' : 'Деактивированный'}"></td>
                    <td th:text="${u.isAdmin() ? 'Администратор' : 'Пользователь'}"></td>
                    <td>
                        <a class="btn-link-y" th:if="${user.getId() != u.getId() && !u.isAdmin() && u.isActive()}" th:href="${'/user/' + u.getId() + '/active/0'}">Деактивировать</a>
                        <a class="btn-link-y" th:if="${user.getId() != u.getId() && !u.isAdmin() && !u.isActive()}" th:href="${'/user/' + u.getId() + '/active/1'}">Активировать</a>
                        <br>
                        <a class="btn-link-y" th:if="${user.getId() != u.getId() && !u.isAdmin()}" th:href="${'/user/' + u.getId() + '/delete'}">Удалить</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>