<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title"><i class="fas fa-tshirt"></i> [(${headerTitle})]</div>
            <a class="btn-link pc-header-btn" href="/player/new">Создать нового</a>
            <form class="search-form" action="/players" method="get">
                <input type="text" name="search" placeholder="Поиск..." maxlength="25">
                <button class="btn btn-form" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <a class="player-block" th:each="player : ${players}" th:href="${'/player/' + player.getId()}" th:with="role = ${player.getUserRole(user)}">
            <div class="pb-title" th:text="${player.getName()}"></div>
            <div class="pb-teams" th:text="${'Команд: ' + player.getTeamsCount()}"></div>
            <div class="pb-icon"><i class="fas fa-tshirt"></i></div>
            <div class="pb-icon-role" th:if="${role > 0}">
                <i class="fas fa-user-tag" th:if="${role == 1}"></i>
                <i class="fas fa-user-cog" th:if="${role == 3}"></i>
                <i class="fas fa-user-tie" th:if="${role == 4}"></i>
            </div>
        </a>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>