<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content" th:with="role = ${player.getUserRole(user)}">
        <div class="pc-header">
            <div class="pc-header-title" th:text="${'Игрок ' + player.getName()}"></div>
        </div>
        <div>
            <form class="pc-form" th:if="${role == 0}">
                <label><i class="fas fa-user"></i> Вы являетесь гостем игрока</label>
                <a th:href="${'/player/' + player.getId() + '/roles/set?role=1'}">Стать зрителем</a>
            </form>
            <form class="pc-form" th:if="${role == 1}">
                <label><i class="fas fa-user-tag"></i> Вы являетесь зрителем игрока</label>
                <a th:href="${'/player/' + player.getId() + '/roles/set?role=0'}">Стать гостем</a>
            </form>
            <form class="pc-form" th:if="${role == 4}">
                <label><i class="fas fa-user-tie"></i> Вы являетесь владельцем игрока</label>
            </form>

            <label th:text="${'Состоит в командах (' + player.getTeamsCount() + '): '}"></label>
            <a class="list-block" th:each="tp : ${player.getTeams()}" th:href="${'/team/' + tp.getTeam().getId()}">
                <div class="lb-title" th:text="${tp.getTeam().getName()}"></div>
                <div class="lb-position" th:text="${tp.getPosition()}"></div>
                <div class="lb-icon"><i class="fas fa-users"></i></div>
            </a>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>