<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title">Профиль</div>
        </div>
        <div class="list-block">
            <div class="lb-title">Редактирование информации</div>
            <form class="pc-form" th:action="${'/post/user/' + user.getId() + '/edit'}" method="post">
                <label>Имя<input type="text" name="name" placeholder="Введите имя..." maxlength="25" th:value="${user.getName()}" required autofocus/></label>
                <label>Почта<input type="email" name="email" placeholder="Введите почту..." maxlength="25" th:value="${user.getEmail()}" required/></label>
                <button class="btn btn-form" type="submit">Сохранить <i class="fas fa-save"></i></button>
                <a href="/profile">Отмена</a>
            </form>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>