<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title">Профиль</div>
        </div>
        <div class="list-block">
            <div class="lb-title">Информация</div>
            <div class="lb-label" th:text="${'ID: ' + user.getId()}"></div>
            <div class="lb-label" th:text="${'Имя: ' + user.getName()}"></div>
            <div class="lb-label" th:text="${'Логин: ' + user.getUsername()}"></div>
            <div class="lb-label" th:text="${'Почта: ' + user.getEmail()}"></div>
            <a class="btn btn-block usn" href="/profile/edit">Редактировать информацию <i class="fas fa-pen"></i></a>
            <a class="btn btn-block usn" href="/profile/password">Изменить пароль <i class="fas fa-key"></i></a>
            <a class="btn btn-block btnb-red usn" th:href="@{/logout}">Выйти из аккаунта <i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>