<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head><link th:replace="blocks/head"></head>
<body>
    <div class="menu-left usn">
        <div th:replace="blocks/menu-left-title"></div>

        <a class="btn menu-left-button" href="">Публичные</a>
        <a class="btn menu-left-button" href="">Кнопка 2</a>
        <a class="btn menu-left-button" href="">Кнопка 3</a>
        <a class="btn menu-left-button" href="">Кнопка 4</a>
        <a class="btn menu-left-button" href="">Кнопка 5</a>
        <div class="menu-left-footer">Champink © 2021<br>All rights reserved</div>
    </div>

    <div th:replace="blocks/menu-top"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title">Публичные чемпионаты</div>
            <a class="btn-link pc-header-btn" href="/champ/new">Создать новый</a>
        </div>
        <a class="champ-block" th:each="champ : ${champs}" th:href="${'champ/' + champ.getId()}">
            <div th:text="${'Чемпионат ' + champ.getName() + ' (' + champ.getId() + ')'}"></div>
        </a>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>