<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head><link th:replace="blocks/head"></head>
<body>
    <div class="menu-left usn">
        <div th:replace="blocks/menu-left-title"></div>

        <a class="btn menu-left-button" href="">Публичные</a>
        <a class="btn menu-left-button" href="">Кнопка 2</a>
        <a class="btn menu-left-button" href="">Кнопка 3</a>
        <a class="btn menu-left-button" href="">Кнопка 4</a>
        <a class="btn menu-left-button" href="">Кнопка 5</a>
        <div class="menu-left-footer">Champink © 2021<br>All rights reserved</div>
    </div>

    <div th:replace="blocks/menu-top"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title">Создание нового чемпионата</div>
        </div>

        <form class="pc-form" action="/post/champ/new" method="post">
            <label>Название<br><input type="text" name="name" placeholder="Введите название..." required></label>
            <label>Вид спорта<br>
                <select name="sport">
                    <option th:each="sport : ${sports}" th:value="${sport.getId()}" th:text="${sport.getName()}"></option>
                </select>
            </label>
            <br>
            <button class="btn pc-form-submit" type="submit">Создать чемпионат</button>
            <a href="/champs">Отмена</a>
        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>