<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title"><i class="fas fa-plus"></i> Создание нового чемпионата</div>
        </div>

        <form class="pc-form" action="/post/champ/add" method="post">
            <label>Название<input type="text" name="name" placeholder="Введите название..." maxlength="25" required autofocus></label>
            <label>Вид спорта
                <select name="sport">
                    <option th:each="sport : ${sports}" th:value="${sport.getId()}" th:text="${sport.getName()}"></option>
                </select>
            </label>
            <label>Формат игры
                <select name="format">
                    <option value="1">Лига</option>
                    <option value="2">Группы</option>
                    <option value="3">Плей-офф</option>
                </select>
            </label>
            <input type="checkbox" class="pc-form-checkbox" name="privat" id="privat" checked><label for="privat">Приватный чемпионат</label>
            <button class="btn btn-form" type="submit">Создать чемпионат</button>
            <a href="/champs">Отмена</a>
        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>