<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content" th:with="role = ${champ.getUserRole(user)}">
        <div class="pc-header">
            <div class="pc-header-title" th:text="${'Чемпионат «' + champ.getName() + '»'}"></div>
        </div>
        <div>
            <div class="list-block">
                <div class="lb-title">Информация</div>
                <div class="lb-label" th:text="${'Название: ' + champ.getName()}"></div>
                <div class="lb-label" th:text="${'Доступность: ' + (champ.isPrivate() ? 'Приватный' : 'Публичный')}"></div>
                <div class="lb-label" th:text="${'Кол-во команд: ' + champ.getTeamsCount()}"></div>
                <div class="lb-label" th:text="${'Кол-во событий: ' + champ.getEventsCount()}"></div>
                <a class="btn btn-block usn" th:if="${role >= 3}" th:href="${'/champ/' + champ.getId() + '/edit/'}">Редактировать чемпионат <i class="fas fa-pen"></i></a>
                <a class="btn btn-block btnb-red usn" th:if="${role == 4}" th:href="${'/champ/' + champ.getId() + '/delete/false'}">Удалить чемпионат <i class="fas fa-trash"></i></a>
                <br>
                <div class="lb-title">Ваш статус</div>
                <div th:if="${role == 0}">
                    <div class="lb-label"><i class="fas fa-user"></i> Вы являетесь гостем чемпионата</div>
                    <a class="btn btn-block usn" th:href="${'/champ/' + champ.getId() + '/roles/set?role=1'}">Стать зрителем <i class="fas fa-user-tag"></i></a>
                </div>
                <div th:if="${role == 1}">
                    <div class="lb-label"><i class="fas fa-user-tag"></i> Вы являетесь зрителем чемпионата</div>
                    <a class="btn btn-block usn" th:href="${'/champ/' + champ.getId() + '/roles/set?role=0'}">Стать гостем <i class="fas fa-user"></i></a>
                </div>
                <div th:if="${role == 4}">
                    <div class="lb-label"><i class="fas fa-user-tie"></i> Вы являетесь владельцем чемпионата</div>
                </div>
            </div>

            <div class="list-block">
                <div class="lb-title" th:text="${'События чемпионата (' + champ.getEventsCount() + ')'}"></div>
                <a class="btn btn-block usn" th:if="${role >= 3}" th:href="${'/champ/' + champ.getId() + '/events/add'}">Добавить событие <i class="fas fa-calendar-plus"></i></a>
                <div class="list-item-big-block" th:each="ce : ${champ.getEvents()}">
                    <div class="libb-title1" th:text="${ce.getTeam1().getName()}"></div>
                    <div class="libb-title2" th:text="${ce.getTeam2().getName()}"></div>
                    <div class="libb-datetime" th:text="${#dates.format(ce.getTimestamp(), 'dd.MM.yyyy / HH:mm')}"></div>
                    <div class="libb-icon1"><i class="fas fa-users"></i></div>
                    <div class="libb-icon2"><i class="fas fa-users"></i></div>
                    <div class="libb-table">
                        <div class="libb-gol">Гол.</div>
                        <div class="libb-gol1">1</div>
                        <div class="libb-gol2">2</div>
                        <div class="libb-pen">Пен.</div>
                        <div class="libb-pen1">3</div>
                        <div class="libb-pen2">4</div>
                        <div class="libb-linev"></div>
                        <div class="libb-lineh"></div>
                    </div>
                    <div class="lib-action">
                        <a class="lib-but usn" th:if="${role >= 2}">Счет <i class="fas fa-table"></i></a>
                        <a class="lib-but libbhr usn" th:if="${role >= 3}" th:href="${'/champ/' + champ.getId() + '/events/' + ce.getId() + '/delete'}">Удалить <i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>

            <div class="list-block">
                <div class="lb-title" th:text="${'Команды чемпионата (' + champ.getTeamsCount() + ')'}"></div>
                <a class="btn btn-block usn" th:if="${role >= 3}" th:href="${'/champ/' + champ.getId() + '/teams/add'}">Добавить команду <i class="fas fa-user-plus"></i></a>
                <div class="list-item-block" th:each="ct : ${champ.getTeams()}">
                    <div class="lib-title" th:text="${ct.getTeam().getName()}"></div>
                    <div class="lib-icon"><i class="fas fa-users"></i></div>
                    <div class="lib-action">
                        <a class="lib-but usn" th:href="${'/team/' + ct.getTeam().getId()}">Перейти <i class="fas fa-arrow-right"></i></a>
                        <a class="lib-but libbhr usn" th:if="${role >= 3}" th:href="${'/champ/' + champ.getId() + '/teams/' + ct.getId() + '/delete'}">Удалить <i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>