<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content" th:with="role = ${champ.getUserRole(user)}">
        <div class="pc-header">
            <div class="pc-header-title" th:text="${'Чемпионат ' + champ.getName()}"></div>
        </div>
        <div>
            <div class="list-block">
                <div class="lb-title" th:text="${'Команды чемпионата (' + champ.getTeamsCount() + ')'}"></div>
                <a class="list-item-block" th:each="ct : ${champ.getTeams()}" th:href="${'/team/' + ct.getTeam().getId()}">
                    <div class="lib-title" th:text="${ct.getTeam().getName()}"></div>
                    <div class="lib-icon"><i class="fas fa-users"></i></div>
                </a>
            </div>

            <div class="list-block">
                <div class="lb-title" th:text="${'События чемпионата (' + champ.getEventsCount() + ')'}"></div>
                <div class="list-item-big-block" th:each="ce : ${champ.getEvents()}">
                    <div class="libb-title1" th:text="${ce.getTeam1().getName()}"></div>
                    <div class="libb-title2" th:text="${ce.getTeam2().getName()}"></div>
                    <div class="libb-datetime" th:text="${#dates.format(ce.getTimestamp(), 'dd.MM.yyyy / HH:mm')}"></div>
                    <div class="libb-icon1"><i class="fas fa-users"></i></div>
                    <div class="libb-icon2"><i class="fas fa-users"></i></div>
                    <div class="libb-table">
                        <div class="libb-gol">Гол.</div>
                        <div class="libb-gol1">1</div>
                        <div class="libb-gol2">2</div>
                        <div class="libb-pen">Пен.</div>
                        <div class="libb-pen1">3</div>
                        <div class="libb-pen2">4</div>
                        <div class="libb-linev"></div>
                        <div class="libb-lineh"></div>
                    </div>
                </div>
            </div>

            <div class="list-block">
                <div class="lb-title">Ваш статус</div>
                <div th:if="${role == 0}">
                    <div><i class="fas fa-user"></i> Вы являетесь гостем чемпионата</div>
                    <a class="lb-link" th:href="${'/champ/' + champ.getId() + '/roles/set?role=1'}">Стать зрителем</a>
                </div>
                <div th:if="${role == 1}">
                    <div><i class="fas fa-user-tag"></i> Вы являетесь зрителем чемпионата</div>
                    <a class="lb-link" th:href="${'/champ/' + champ.getId() + '/roles/set?role=0'}">Стать гостем</a>
                </div>
                <div th:if="${role == 4}">
                    <div><i class="fas fa-user-tie"></i> Вы являетесь владельцем чемпионата</div>
                </div>
            </div>

            <div class="list-block" th:if="${role >= 3}">
                <div class="lb-title">Добавление команд</div>
                <form class="pc-form" th:action="${'/post/champ/' + champ.getId() + '/teams/add'}" method="post">
                    <label class="lb-label">Команда
                        <select name="team" required>
                            <option value="">Не выбрана</option>
                            <option th:each="team : ${user_teams}" th:value="${team.getId()}" th:text="${team.getName()}"></option>
                        </select>
                    </label>
                    <button class="btn pc-form-submit" type="submit">Добавить команду в чемпионат</button>
                </form>
            </div>

            <div class="list-block" th:if="${role >= 3}">
                <div class="lb-title">Добавление событий</div>
                <form class="pc-form" th:action="${'/post/champ/' + champ.getId() + '/events/add'}" method="post">
                    <label class="lb-label">Начало матча
                        <input type="datetime-local" name="timestamp" required>
                    </label>
                    <label class="lb-label">Команда 1
                        <select name="team1" required>
                            <option value="">Не выбрана</option>
                            <option th:each="ct : ${champ.getTeams()}" th:value="${ct.getTeam().getId()}" th:text="${ct.getTeam().getName()}"></option>
                        </select>
                    </label>
                    <label class="lb-label">Команда 2
                        <select name="team2" required>
                            <option value="">Не выбрана</option>
                            <option th:each="ct : ${champ.getTeams()}" th:value="${ct.getTeam().getId()}" th:text="${ct.getTeam().getName()}"></option>
                        </select>
                    </label>
                    <button class="btn pc-form-submit" type="submit">Добавить событие в чемпионат</button>
                </form>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>