.btn, .champ-block, .team-block, .player-block, .list-item-block, .list-item-big-block, .libb-linev, .libb-lineh,
.lib-action, .lib-but {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}