@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html { height: 100%; }

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 400;

    background: #000000;

    min-width: 850px;
    display: flex;
    flex-direction: column;
    height: 100%;

    color: #FFBF00;
}
a {
    color: #000000;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
select {
    width: 400px;
    font-size: 19px;
}
table {
    border-collapse: collapse;
}
table tr {
    border-bottom: 1px solid #FFBF00;
}
table th {
    padding: 10px;
    border-left: 1px solid #FFBF00;
    border-right: 1px solid #FFBF00;
}
table td {
    padding: 5px;
    border-left: 1px solid #FFBF00;
    border-right: 1px solid #FFBF00;
}


/*** BTN ***/
.btn {
    color: #000000;
    text-transform: uppercase;
    background-color: #FFBF00;
}
.btn:hover {
    color: #FFBF00;
    background-color: #000000;
}
.btn-link {
    color: #000000;
    text-decoration-line: underline;
}
.btn-link-y {
    color: #FFBF00;
    text-decoration-line: underline;
}
.btn-link:hover, .btn-link-y:hover {
    color: #FF0000;
}

/*** MENU LEFT ***/
.menu-left {
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #FFBF00;
    border-right: #000000 solid 20px;
    z-index: 5000;
}
.menu-left-title {
    width: 100%;
    height: 70px;
    border-bottom: #000000 solid 20px;
}
.menu-left-title-logo {
    top: 12px;
    left: 20px;
    color: #000000;
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
}
.menu-left-title-user {
    top: 41px;
    left: 20px;
    color: #000000;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.menu-left-line {
    width: 200px;
    height: 20px;
    background-color: #000000;
}
.menu-left-section {

}
.menu-left-section-bottom {
    left: 0;
    bottom: 54px;
    width: 100%;
    position: absolute;
    /*border-top: #000000 solid 2px;*/
}
.menu-left-section-top .menu-left-button:nth-of-type(1) {
    border-top: none;
}
.menu-left-section-bottom .menu-left-button:nth-last-of-type(1) {
    border-bottom: none;
}
.menu-left-section-title {
    color: #000000;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 3px;
    font-weight: 900;
    font-size: 12px;
}
.menu-left-button {
    width: 178px;
    height: 50px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: #000000 solid 2px;
    background-size: 24px;
    background-image: url('/img/icon_arrow_right.svg');
    background-repeat: no-repeat;
    background-position: 171px 13px;
}
.menu-left-button:nth-of-type(1) {
    border-top: #000000 solid 2px;
    margin-top: 2px;
}
.menu-left-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 41px;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    padding-top: 9px;
    text-align: center;
    text-transform: uppercase;
    border-top: #000000 solid 2px;
}
.menu-left-button.active {
    color: #FFBF00;
    background-color: #000000;
}


/*** MENU TOP ***/
.menu-top {
    top: 0;
    left: 220px;
    right: 0;
    height: 70px;
    position: fixed;
    min-width: 630px;
    padding-left: 2px;
    background-color: #FFBF00;
    border-bottom: #000000 solid 20px;
    z-index: 5000;
}
.menu-top-line {
    width: 20px;
    height: 70px;
    display: inline-block;
    background-color: #000000;
}
.menu-top-button {
    float: left;
    width: 200px;
    height: 68px;
    display: inline-block;
    font-size: 19px;
    text-align: center;
    font-weight: 700;
    line-height: 68px;
    border-right: #000000 solid 3px;
    background-size: 24px;
    background-image: url('/img/icon_arrow_down.svg');
    background-repeat: no-repeat;
    background-position: 88px 44px;
}
.menu-top-button.active {
    color: #FFBF00;
    background-color: #000000;
}


/*** PAGE CONTENT ***/
.page-content {
    position: relative;
    margin-top: 90px;
    margin-left: 220px;
    /*padding-top: 60px;*/
    padding-bottom: 20px;
    background-color: #000000;
}
.pc-header {
    color: #000000;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #FFBF00;
}
.pc-header-title {
    display: inline-block;
    margin-left: 13px;
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
}
.pc-header-btn {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
.pc-form {
    width: 400px;
}
.pc-form a {
    color: #FFBF00;
    width: fit-content;
    height: 25px;
    margin: 5px auto 0;
    display: block;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;
}
.pc-form a:hover {
    color: #FF0000;
}
.pc-form label {
    display: block;
    margin-top: 20px;
}
.pc-form .pc-form-info {
    color: #FF0000;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}
.pc-form input, .pc-form select {
    color: #FFBF00;
    width: 100%;
    height: 40px;
    padding-left: 8px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 700;
    box-sizing: border-box;
    background-color: #000000;
    border: #FFBF00 solid 2px;
}
.pc-form input::placeholder {
    /*color: #FFBF00;*/
    color: #895A00;
    font-weight: 400;
    /*opacity: 0.75;*/
}
.pc-form input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}
.pc-form button {
    width: 100%;
    height: 40px;
    border: #FFBF00 solid 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
}


/*** CHAMP BLOCK ***/
.champ-block {
    color: #FFBF00;
    width: 300px;
    height: 100px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: #FFBF00 solid 2px;
}
.champ-block:hover {
    color: #000000;
    background-color: #FFBF00;
}
.champ-block .cb-title {
    top: 36px;
    left: 0;
    width: 296px;
    position: absolute;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    line-height: 24px;
}
.champ-block .cb-format {
    top: 60px;
    left: 0;
    width: 296px;
    position: absolute;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
}
.champ-block .cb-teams {
    left: 8px;
    bottom: 5px;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.champ-block .cb-icon {
    top: 8px;
    left: 136px;
    width: 24px;
    height: 24px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 24px;
}
.champ-block .cb-icon-role {
    right: 3px;
    bottom: 3px;
    width: 18px;
    height: 18px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    line-height: 18px;
}


/*** TEAM BLOCK ***/
.team-block {
    color: #FFBF00;
    width: 300px;
    height: 80px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: #FFBF00 solid 2px;
}
.team-block:hover {
    color: #000000;
    background-color: #FFBF00;
}
.team-block .tb-title {
    top: 8px;
    left: 40px;
    position: absolute;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
}
.team-block .tb-players {
    left: 8px;
    bottom: 5px;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.team-block .tb-champs {
    left: 8px;
    bottom: 24px;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.team-block .tb-icon {
    top: 8px;
    left: 10px;
    width: 24px;
    height: 24px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 24px;
}
.team-block .tb-icon-role {
    right: 3px;
    bottom: 3px;
    width: 18px;
    height: 18px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    line-height: 18px;
}


/*** PLAYER BLOCK ***/
.player-block {
    color: #FFBF00;
    width: 300px;
    height: 60px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: #FFBF00 solid 2px;
}
.player-block:hover {
    color: #000000;
    background-color: #FFBF00;
}
.player-block .pb-title {
    top: 8px;
    left: 40px;
    position: absolute;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
}
.player-block .pb-teams {
    left: 8px;
    bottom: 5px;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.player-block .pb-icon {
    top: 8px;
    left: 10px;
    width: 24px;
    height: 24px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 24px;
}
.player-block .pb-icon-role {
    right: 3px;
    bottom: 3px;
    width: 18px;
    height: 18px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    line-height: 18px;
}


/*** LIST BLOCK ***/
.list-block {
    color: #FFBF00;
    width: 400px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    vertical-align: top;
}
.list-block .lb-title {
    width: 387px;
    height: 24px;
    display: block;
    position: relative;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 13px;
    border-bottom: #FFBF00 solid 2px;
    text-transform: uppercase;
}
.list-block .lb-label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}
.list-block .lb-link {
    color: #FFBF00;
    width: fit-content;
    height: 25px;
    /*margin: 5px auto 0;*/
    display: block;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;
}
.list-block .lb-link:hover {
    color: #FF0000;
}


/*** LIST ITEM BLOCK ***/
.list-item-block {
    color: #FFBF00;
    width: 400px;
    height: 45px;
    display: block;
    position: relative;
    margin-top: 5px;
    box-sizing: border-box;
    border: #FFBF00 solid 2px;
}
.list-item-block:hover {
    height: 68px;
    color: #000000;
    background-color: #FFBF00;
}
.list-item-block:hover .lib-action {
    height: 25px;
    background-color: #FFBF00;
}
.list-item-block .lib-title {
    top: 8px;
    left: 40px;
    position: absolute;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
}
.list-item-block .lib-position {
    top: 12px;
    right: 8px;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.list-item-block .lib-icon {
    top: 8px;
    left: 10px;
    width: 24px;
    height: 24px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 24px;
}
.list-item-block .lib-action {
    left: -2px;
    bottom: -2px;
    width: 400px;
    height: 0;
    position: absolute;
    background-color: #000000;
    box-sizing: border-box;
    border-left: #FFBF00 solid 2px;
    border-right: #FFBF00 solid 2px;
    border-bottom: #FFBF00 solid 2px;
}
.list-item-block .lib-but {
    width: 100px;
    height: 25px;
    background-color: #FFBF00;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    line-height: 25px;
}


/*** LIST ITEM BIG BLOCK ***/
.list-item-big-block {
    color: #FFBF00;
    width: 400px;
    height: 95px;
    display: block;
    position: relative;
    margin-top: 5px;
    box-sizing: border-box;
    border: #FFBF00 solid 2px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
}
.list-item-big-block:hover {
    color: #000000;
    background-color: #FFBF00;
}
.list-item-big-block .libb-title1, .list-item-big-block .libb-title2 {
    top: 28px;
    left: 40px;
    position: absolute;
}
.list-item-big-block .libb-icon1, .list-item-big-block .libb-icon2 {
    top: 28px;
    left: 10px;
    width: 24px;
    height: 24px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 24px;
}
.list-item-big-block .libb-title2 { top: 58px; }
.list-item-big-block .libb-icon2 { top: 58px; }
.list-item-big-block .libb-datetime {
    top: 6px;
    left: 10px;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.list-item-big-block .libb-table {
    top: 7px;
    left: 306px;
    position: absolute;
}
.list-item-big-block .libb-table div {
    width: 40px;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
}
.list-item-big-block .libb-gol {
    top: 0;
    left: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.list-item-big-block .libb-pen {
    top: 0;
    left: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.list-item-big-block .libb-gol1 {
    top: 21px;
    left: 0;
}
.list-item-big-block .libb-gol2 {
    top: 51px;
    left: 0;
}
.list-item-big-block .libb-pen1 {
    top: 21px;
    left: 40px;
}
.list-item-big-block .libb-pen2 {
    top: 51px;
    left: 40px;
}
.list-item-big-block .libb-table .libb-linev {
    top: 21px;
    left: 39px;
    width: 2px;
    height: 54px;
    background-color: #FFBF00;
}
.list-item-big-block .libb-table .libb-lineh {
    top: 47px;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: #FFBF00;
}
.list-item-big-block:hover .libb-linev, .list-item-big-block:hover .libb-lineh {
    background-color: #000000;
}


/*** OTHER ***/
input:focus, select:focus, textarea:focus, button:focus { outline: none; }
.dn { display: none; }
.db { display: block; }
.dib { display: inline-block; }
.taj { text-align: justify; }
.usn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb { background: #FFBF00; }
::-webkit-scrollbar-track { background: #000000; }
::-webkit-scrollbar-corner { background: #000000; }
::-webkit-scrollbar-button { display: none; }
/*::-webkit-scrollbar-track:vertical { background: #000000; border-left: #FFBF00 solid 2px; }*/
/*::-webkit-scrollbar-track:horizontal { background: #000000; border-top: #FFBF00 solid 2px; }*/


::-moz-selection {
    color: red;
    background: transparent;
}
::selection {
    color: red;
    background: transparent;
}


/*** PC FORM INPUT CHECKBOX ***/
.pc-form-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.pc-form-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.pc-form-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #FFBF00;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    background-size: 16px;
}

.pc-form-checkbox:checked + label::before {
    background-color: #FFBF00;
    background-image: url("/img/icon_check.svg");
}

.pc-form-checkbox:not(:disabled):not(:checked) + label:hover::before {

}