@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html { height: 100%; }

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 400;

    background: #000000;

    min-width: 850px;
    display: flex;
    flex-direction: column;
    height: 100%;

    color: #FFBF00;
}

a {
    color: #000000;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*** BTN ***/
.btn {
    color: #000000;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: #FFBF00;
}
.btn:hover {
    color: #FFBF00;
    background-color: #000000;
}

/*** MENU LEFT ***/
.menu-left {
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #FFBF00;
    border-right: #000000 solid 20px;
    z-index: 5000;
}
.menu-left-title {
    width: 100%;
    height: 70px;
    border-bottom: #000000 solid 20px;
}
.menu-left-title-logo {
    top: 12px;
    left: 30px;
    color: #000000;
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
}
.menu-left-title-user {
    top: 41px;
    left: 30px;
    color: #000000;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.menu-left-line {
    width: 200px;
    height: 20px;
    background-color: #000000;
}
.menu-left-button {
    width: 168px;
    height: 50px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 30px;
    border-bottom: #000000 solid 2px;
}
.menu-left-button:nth-of-type(1) {
    margin-top: 2px;
}
.menu-left-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 41px;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    padding-top: 9px;
    text-align: center;
    text-transform: uppercase;
    border-top: #000000 solid 2px;
}


/*** MENU TOP ***/
.menu-top {
    top: 0;
    left: 220px;
    right: 0;
    height: 70px;
    position: fixed;
    min-width: 630px;
    padding-left: 2px;
    background-color: #FFBF00;
    border-bottom: #000000 solid 20px;
    z-index: 5000;
}
.menu-top-line {
    width: 20px;
    height: 70px;
    display: inline-block;
    background-color: #000000;
}
.menu-top-button {
    float: left;
    width: 200px;
    height: 68px;
    display: inline-block;
    font-size: 19px;
    text-align: center;
    font-weight: 700;
    line-height: 68px;
    border-right: #000000 solid 3px;
}


/*** PAGE CONTENT ***/
.page-content {
    position: relative;
    margin-top: 90px;
    margin-left: 220px;
    /*padding-top: 60px;*/
    padding-bottom: 20px;
    background-color: #000000;
}


/*** OTHER ***/
input:focus, textarea:focus, select:focus{ outline: none; }
.dn { display: none; }
.taj { text-align: justify; }
.usn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb { background: #FFBF00; }
::-webkit-scrollbar-track { background: #000000; }
::-webkit-scrollbar-corner { background: #000000; }
::-webkit-scrollbar-button { display: none; }
/*::-webkit-scrollbar-track:vertical { background: #000000; border-left: #FFBF00 solid 2px; }*/
/*::-webkit-scrollbar-track:horizontal { background: #000000; border-top: #FFBF00 solid 2px; }*/


::-moz-selection {
    color: red;
    background: transparent;
}
::selection {
    color: red;
    background: transparent;
}