<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="blocks/head">
</head>
<body>
    <header>
        <a class="header-title usn" href="/">Champink</a>
        <a class="header-button usn" href="/">Главная</a>
        <a class="header-button hbs usn" href="">Чемпионаты</a>
        <a class="header-button usn" href="">События</a>
        <a class="header-button usn" href="">Команды</a>
        <a class="header-button usn" href="">Вход</a>
    </header>

    <div class="page-content">
        <h1>Champink Champs</h1>
        <h2>Чемпионаты</h2>
        <div th:each="champ:${champs}">
            <div th:text="${'Чемпионат ' + champ.getName() + ' (' + champ.getId() + ')'}"></div>
            <a th:href="${'champ/' + champ.getId()}">Перейти</a>
        </div>

        <h2>Нет твоего чемпионата в списке? Создай новый!</h2>
        <form action="/champs/new" method="post">
            <input type="text" name="name" placeholder="Имя"><br>
            <button type="submit">Создать</button>
        </form>
    </div>

    <div th:replace="blocks/footer"></div>
</body>
</html>