<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="/blocks/head">
</head>
<body>
    <header>
        <a class="header-title usn" href="/">Champink</a>
        <a class="header-button usn" href="/">Главная</a>
        <a class="header-button hbs usn" href="/champs">Чемпионаты</a>
        <a class="header-button usn" href="">События</a>
        <a class="header-button usn" href="">Команды</a>
        <a class="header-button usn" href="">Вход</a>
    </header>

    <div class="page-content">
        <h2>Чемпионат</h2>
        <div>
            <div th:text="${'Чемпионат ' + champ.getName() + ' (' + champ.getId() + ')'}"></div>
        </div>

        <a href="/champs">Все чемпионаты</a>
    </div>

    <div th:replace="/blocks/footer"></div>
</body>
</html>