<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content pc-center">
        <div class="pc-header">
            <div class="pc-header-title"></div>
        </div>

        <div class="pcm-logo"><i class="fas fa-trophy"></i></div>
        <div class="pcm-title">Champink</div>
        <div class="pcm-subtitle">Создавай свои команды, добавляй игроков и организуй чемпионаты!</div>
        <div class="list-block"><a class="btn btn-block usn" href="/player/new">Создать игрока <i class="fas fa-tshirt"></i></a></div>
        <div class="list-block"><a class="btn btn-block usn" href="/team/new">Создать команду <i class="fas fa-users"></i></a></div>
        <div class="list-block"><a class="btn btn-block usn" href="/champ/new">Создать чемпионат <i class="fas fa-trophy"></i></a></div>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>