<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title">Champink</div>
        </div>
        Сервис Champink!<br>
        Создавайте свои команды, добавляйте игроков и проводите чемпионаты!
        <p>Spring Security Thymeleaf tutorial</p>
        <div sec:authorize="hasAuthority('USER')">Text visible to user.</div>
        <div sec:authorize="hasAuthority('ADMIN')">Text visible to admin.</div>
        <div sec:authorize="isAuthenticated()">
            Text visible only to authenticated users.
        </div>

    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>