<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title">Champink</div>
        </div>
        Сервис Champink!<br>
        Создавайте свои команды, добавляйте игроков и проводите чемпионаты!
        <i class="fas fa-dragon"></i>
        <i class="fas fa-tshirt"></i>
        <i class="fas fa-gem"></i>
        <i class="fas fa-crown"></i>
        <i class="fas fa-bomb"></i>
        <i class="fas fa-shield-alt"></i>
        <i class="fas fa-skull"></i>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>