<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title">Профиль</div>
        </div>
<!--        <h6 th:inline="text">Hello test: [[${#httpServletRequest.remoteUser}]]!</h6>-->
        <div th:text="${'Имя: ' + user.getName()}"></div>
        <div th:text="${'Логин: ' + user.getUsername()}"></div>
        <div th:text="${'Почта: ' + user.getEmail()}"></div>
        <div th:text="${'ID: ' + user.getId()}"></div>
        <form class="pc-form" method="post" th:action="@{/logout}">
            <button class="btn pc-form-submit" type="submit">Выйти из аккаунта</button>
        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>