<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title"><i class="fas fa-users"></i> Команда «[(${team.getName()})]»</div>
        </div>
        <div>
            <div class="list-block">
                <div class="lb-title">Добавление в чемпионат</div>
                <form class="pc-form" th:action="${'/post/team/' + team.getId() + '/champs/add'}" method="post">
                    <label>Чемпионат
                        <select name="champ" required>
                            <option value="">Не выбран</option>
                            <option th:each="champ : ${champs}" th:value="${champ.getId()}" th:text="${champ.getName()}"></option>
                        </select>
                    </label>
                    <button class="btn btn-form" type="submit">Добавить команду в чемпионат</button>
                    <a th:href="${'/team/' + team.getId()}">Отмена</a>
                </form>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>