<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content">
        <div class="pc-header">
            <div class="pc-header-title"><i class="fas fa-plus"></i> Создание новой команды</div>
        </div>

        <form class="pc-form" action="/post/team/add" method="post">
            <label>Название<input type="text" name="name" placeholder="Введите название..." maxlength="25" required autofocus></label>
            <input type="checkbox" class="pc-form-checkbox" name="privat" id="privat" checked><label for="privat">Приватная команда</label>
            <button class="btn pc-form-submit" type="submit">Создать команду</button>
            <a href="/teams">Отмена</a>
        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>