<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content" th:with="role = ${team.getUserRole(user)}">
        <div class="pc-header">
            <div class="pc-header-title" th:text="${'Команда ' + team.getName()}"></div>
        </div>
        <div>
            <div class="list-block">
                <div class="lb-title" th:text="${'Состав команды (' + team.getPlayersCount() + ')'}"></div>
                <a class="list-item-block" th:each="tp : ${team.getPlayers()}" th:href="${'/player/' + tp.getPlayer().getId()}">
                    <div class="lib-title" th:text="${tp.getPlayer().getName()}"></div>
                    <div class="lib-position" th:text="${tp.getPosition()}"></div>
                    <div class="lib-icon"><i class="fas fa-user"></i></div>
                </a>
            </div>

            <div class="list-block">
                <div class="lb-title" th:text="${'Состоит в чемпионатах (' + team.getChampsCount() + ')'}"></div>
                <a class="list-item-block" th:each="ct : ${team.getChamps()}" th:href="${'/champ/' + ct.getChamp().getId()}">
                    <div class="lib-title" th:text="${ct.getChamp().getName()}"></div>
                    <div class="lib-position">Плей-офф</div>
                    <div class="lib-icon"><i class="fas fa-trophy"></i></div>
                </a>
            </div>

            <div class="list-block">
                <div class="lb-title">Ваш статус</div>
                <div th:if="${role == 0}">
                    <div><i class="fas fa-user"></i> Вы являетесь гостем команды</div>
                    <a class="lb-link" th:href="${'/team/' + team.getId() + '/roles/set?role=1'}">Стать зрителем</a>
                </div>
                <div th:if="${role == 1}">
                    <div><i class="fas fa-user-tag"></i> Вы являетесь зрителем команды</div>
                    <a class="lb-link" th:href="${'/team/' + team.getId() + '/roles/set?role=0'}">Стать гостем</a>
                </div>
                <div th:if="${role == 4}">
                    <div><i class="fas fa-user-tie"></i> Вы являетесь владельцем команды</div>
                </div>
            </div>

            <div class="list-block" th:if="${role >= 3}">
                <div class="lb-title">Добавление игроков</div>
                <form class="pc-form" th:action="${'/post/team/' + team.getId() + '/players/add'}" method="post">
                    <label class="lb-label">Игрок
                        <select name="player" required>
                            <option value="">Не выбран</option>
                            <option th:each="player : ${user_players}" th:value="${player.getId()}" th:text="${player.getName()}"></option>
                        </select>
                    </label>
                    <label class="lb-label">Позиция в команде
                        <select name="position">
                            <option>Не выбрана</option>
                            <option>Нападающий</option>
                            <option>Полузащитник</option>
                            <option>Защитник</option>
                            <option>Вратарь</option>
                            <option>Тренер</option>
                        </select>
                    </label>
                    <button class="btn pc-form-submit" type="submit">Добавить игрока в команду</button>
                </form>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>