<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><link th:replace="blocks/head"></head>
<body>
    <div th:replace="blocks/menu"></div>

    <div class="page-content" th:with="role = ${team.getUserRole(user)}">
        <div class="pc-header">
            <div class="pc-header-title" th:text="${'Команда «' + team.getName() + '»'}"></div>
        </div>
        <div>
            <div class="list-block">
                <div class="lb-title">Информация</div>
                <div class="lb-label" th:text="${'Название: ' + team.getName()}"></div>
                <div class="lb-label" th:text="${'Доступность: ' + (team.isPrivate() ? 'Приватная' : 'Публичная')}"></div>
                <div class="lb-label" th:text="${'Кол-во игроков: ' + team.getPlayersCount()}"></div>
                <div class="lb-label" th:text="${'Кол-во чемпионатов: ' + team.getChampsCount()}"></div>
                <a class="btn btn-block usn" th:if="${role >= 3}" th:href="${'/team/' + team.getId() + '/edit/'}">Редактировать команду <i class="fas fa-pen"></i></a>
                <a class="btn btn-block btnb-red usn" th:if="${role == 4}" th:href="${'/team/' + team.getId() + '/delete/false'}">Удалить команду <i class="fas fa-trash"></i></a>
                <br>
                <div class="lb-title">Ваш статус</div>
                <div th:if="${role == 0}">
                    <div class="lb-label"><i class="fas fa-user"></i> Вы являетесь гостем команды</div>
                    <a class="btn btn-block usn" th:href="${'/team/' + team.getId() + '/roles/set?role=1'}">Стать зрителем <i class="fas fa-user-tag"></i></a>
                </div>
                <div th:if="${role == 1}">
                    <div class="lb-label"><i class="fas fa-user-tag"></i> Вы являетесь зрителем команды</div>
                    <a class="btn btn-block usn" th:href="${'/team/' + team.getId() + '/roles/set?role=0'}">Стать гостем <i class="fas fa-user"></i></a>
                </div>
                <div th:if="${role == 4}">
                    <div class="lb-label"><i class="fas fa-user-tie"></i> Вы являетесь владельцем команды</div>
                </div>
            </div>

            <div class="list-block">
                <div class="lb-title" th:text="${'Состав команды (' + team.getPlayersCount() + ')'}"></div>
                <a class="btn btn-block usn" th:if="${role >= 3}" th:href="${'/team/' + team.getId() + '/players/add'}">Добавить игрока <i class="fas fa-user-plus"></i></a>
                <div class="list-item-block" th:each="tp : ${team.getPlayers()}">
                    <div class="lib-title" th:text="${tp.getPlayer().getName()}"></div>
                    <div class="lib-position" th:text="${tp.getPosition()}"></div>
                    <div class="lib-icon"><i class="fas fa-user"></i></div>
                    <div class="lib-action">
                        <a class="lib-but usn" th:href="${'/player/' + tp.getPlayer().getId()}">Перейти <i class="fas fa-arrow-right"></i></a>
                        <a class="lib-but libbhr usn" th:if="${role >= 3}" th:href="${'/team/' + team.getId() + '/players/' + tp.getId() + '/delete'}">Удалить <i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>

            <div class="list-block">
                <div class="lb-title" th:text="${'Участвует в чемпионатах (' + team.getChampsCount() + ')'}"></div>
                <div class="list-item-block" th:each="ct : ${team.getChamps()}">
                    <div class="lib-title" th:text="${ct.getChamp().getName()}"></div>
                    <div class="lib-position">Плей-офф</div>
                    <div class="lib-icon"><i class="fas fa-trophy"></i></div>
                    <div class="lib-action">
                        <a class="lib-but usn" th:href="${'/champ/' + ct.getChamp().getId()}">Перейти <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/style-onload.css">
</body>
</html>